@import "_variables.less";


body {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.5;
  color: @primary-color;
  margin: 0px;
}

.container {
  margin: 0;
}

@media only screen and (min-width: @xs) {

  .top-container,
  .middle-container,
  .bottom-container {
    margin-left: 80px;
    margin-right: 80px;
  }

  .bottom-line {
    border-bottom: 1px solid @line-color;
  }
}
