body {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  margin: 0px;
}
.container {
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .top-container,
  .middle-container,
  .bottom-container {
    margin-left: 80px;
    margin-right: 80px;
  }
  .bottom-line {
    border-bottom: 1px solid #d7d7d7;
  }
}
.top-container > div > div > div {
  transition: all 0.1s ease;
}
.top-container > div > div > div:hover {
  transform: scale(1.02);
  color: #ecc7d0;
}
.bottom-container > nav > ul > li > a:hover {
  transform: scale(1.02);
  color: #ecc7d0;
}
.top-container {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.user-container > div {
  margin: 0 25px;
}
.contact-number-container,
.contact-email-container,
.user-login-container,
.user-registration-container {
  display: flex;
  align-items: center;
}
.contact-number-icon,
.contact-email-icon,
.user-login-icon,
.user-registration-icon {
  width: 13px;
  height: 13px;
  background-size: cover;
  margin-right: 5px;
}
.contact-number-icon {
  background-image: url(../img/top-container-images/phone-icon.svg);
}
.contact-email-icon {
  background-image: url(../img/top-container-images/email-icon.svg);
}
.user-login-icon {
  background-image: url(../img/top-container-images/login-icon.svg);
}
.user-registration-icon {
  background-image: url(../img/top-container-images/registration-icon.svg);
}
@media only screen and (min-width: 600px) {
  .top-container {
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
  }
  .top-container > div > div {
    padding: 5px;
  }
  .user-container {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
  }
  .user-container > div {
    margin: 0 0;
  }
  .user-login-container {
    border-right: 1px solid #d7d7d7;
  }
  .contact-container {
    flex-direction: row;
  }
}
.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.middle-container > div {
  margin: 25px 10px;
}
.main-logo-container,
.shopping-cart-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}
.main-logo-icon {
  width: 184px;
  height: 64px;
  background-image: url(../img/top-container-images/main-logo.svg);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
.shopping-cart-icon {
  width: 27px;
  height: 32px;
  background-image: url(../img/top-container-images/basket-icon.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Helvetica';
}
.search-bar-container input {
  border: none;
  border-bottom: 2px solid #191919;
  outline: none;
  padding-right: 30px;
  width: 200px;
}
.search-bar-container button {
  background: url(../img/top-container-images/search-icon.svg) no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
}
.search-bar-container img {
  width: 20px;
}
@media screen and (min-width: 600px) {
  .middle-container {
    flex-direction: row;
  }
  .search-bar-container input {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .search-bar-container input {
    width: 280px;
  }
}
@media screen and (min-width: 992px) {
  .search-bar-container input {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .search-bar-container input {
    width: 400px;
  }
}
.bottom-container {
  display: flex;
  justify-content: center;
}
.menu {
  list-style: none;
}
.menu-container {
  width: 100%;
  padding: 0;
}
.menu {
  padding: 0;
  margin: 0;
}
a {
  color: white;
  font-weight: 300;
  text-decoration: none;
  background: #ecc7d0;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
a:hover {
  background: #000000;
}
@media only screen and (min-width: 600px) {
  .bottom-container {
    display: flex;
    justify-content: center;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu li {
    flex: 1 0 20%;
  }
  a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background: none;
    color: #000000;
    font-weight: 400;
  }
  a:hover {
    background: none;
  }
}
@media only screen and (min-width: 992px) {
  .menu li {
    flex: 1;
  }
}
