body {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  margin: 0px;
}
.top-container {
  margin: 0 10px;
}
.container {
  margin: 0;
  border-bottom: 1px solid #d7d7d7;
}
@media only screen and (min-width: 600px) {
  .top-container {
    margin: 0 80px;
  }
}
@media only screen and (min-width: 768px) {
  .top-container {
    margin: 0 100px;
  }
}
@media only screen and (min-width: 992px) {
  .top-container {
    margin: 0 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .top-container {
    margin: 0 140px;
  }
}
.top-container > div > div > div {
  transition: all 0.1s ease;
}
.top-container > div > div > div:hover {
  transform: scale(1.02);
  color: #ecc7d0;
}
.top-container {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-number-container,
.contact-email-container,
.user-login-container,
.user-registration-container {
  display: flex;
  align-items: center;
}
.contact-number-icon,
.contact-email-icon,
.user-login-icon,
.user-registration-icon {
  width: 13px;
  height: 13px;
  background-size: cover;
  margin-right: 5px;
}
.contact-number-icon {
  background-image: url(../img/top-container-images/phone-icon.svg);
}
.contact-email-icon {
  background-image: url(../img/top-container-images/email-icon.svg);
}
.user-login-icon {
  background-image: url(../img/top-container-images/login-icon.svg);
}
.user-registration-icon {
  background-image: url(../img/top-container-images/registration-icon.svg);
}
@media only screen and (min-width: 600px) {
  .top-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .top-container > div > div {
    padding: 5px;
  }
  .user-container {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
  }
  .user-login-container {
    border-right: 1px solid #d7d7d7;
  }
  .contact-container {
    flex-direction: row;
  }
}
